# Archivos de entorno
.env

# Configuración de Dropbox (contiene credenciales sensibles)
dropbox_config.py

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos del sistema
.DS_Store
Thumbs.db
# Carpetas a ignorar
Adjuntos_RMA/
plantillas/

# Archivos a ignorar
rma_app.db
APP_Gestor.pyw